html,
body,
#root {
	height: 100%;
}

.item {
	display: flex;
	flex-flow: column;
	position: absolute;
	width: 25%;
	padding: 20px;
}

.name {
	color: #fbc80f;
	font-size: 33px;
	font-weight: 600px;
	cursor: pointer;
}

.content {
	color: #d4df8b;
	text-align: left;
	margin: 10px 0px;
}

.item a {
	color: #d4df8b;
	text-decoration: none;
}

@media only screen and (max-width: 568px) {
	.item {
		width: 80%;
	}

	.name {
		font-size: 24px;
	}
}
